.capture_wrapper {
    width: 314px;
    margin: 30px auto;
}
.capture {
    background: url(../img/bg_camera.png) center / cover no-repeat;
    height: 298px;    
    display: flex;
    img {
        margin: 0 auto;
        display: block;
    }
    &__container {
        margin: auto;
    }
    &__activate {
        border: none;
        font-family: 'Assistant';
        border-radius: 20px;        
        background-color: #fe7900;
        color: #fff;    
        transition: .4s;
        font-size: 22px;
        padding: 3px 22px 5px;
        display: block;
        margin-top: 15px;
        cursor: pointer;
        outline: none;
        margin-left: auto;
        margin-right: auto;
        &:hover, &:focus, &:active {
            background: #e06e03;
        }    
    }
}