.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    position: relative;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;    
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #000;
    outline: 0;    
  }

  

  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  } 
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
  }
  .form-control[disabled],
  
  fieldset[disabled] .form-control {
    cursor: not-allowed;
  }
  textarea.form-control {
    height: auto;
  }
  .form {
    margin-top: 50px;    
    .select-container {
      margin: 1% 0;
    }
    input[type="text"], .select-container {        
        width: 46%;
        box-sizing: border-box;
        margin: 1% 2%;
    }
    
    .select-container.full-width {
      width: 100%;      
    }
    input[type="text"]::placeholder, 
    .select-placeholder {
      color: #131c25;
    }
    .group {
        max-width: 62%;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        p {
          padding-right: 8px;
          font-size: 18px;
          a {
            color: #598527;          
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &.group-textarea {
          max-width: 60%;      
        }
        textarea {
          margin: 20px auto !important;          
          min-height: 120px;
          resize: vertical;
          font-family: Assistant;
          font-size: 18px;
          font-weight: 400;
          box-sizing: border-box;
          &::placeholder {
            color: #131c25;
          }
        }
    }
    
  }

  .inline-group {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .inline-group-block {
          display: inline-block;
          margin: 0 10px;
      }
  }

  .select-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: #fff;
    &::after {
      content: '';
      position: absolute;
      left: 17px;
      top: 13px;
      border: 6px solid transparent;
      border-top-color: #767b81;
    }
    /* &::before {
      content: '';
      position: absolute;
      left: 60px;
      width: 1px;
      height: 20px;
      top: 7px;
      background: #c7c8c9;    
    } */
    .select-placeholder {
      font-size: 18px;      
      position: absolute;
      right: 13px;
      top: 5px;
      z-index: 1;
    }

  }
  .select-control {
    appearance: none;    
    background: transparent;
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      height: 20px;
      width: 1px;
      background: #ccc;
      left: 20px;
    }
  }

  .radio_box {
    margin: 20px 0;
    input {
      /* margin: 0 2%; */
    }
  }

  .radio-container {
    display: inline-block;
    position: relative;
    padding-right: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;    
    user-select: none;
    &:last-child {
      margin-right: 30px;
    }
    &.no-margin {
      margin: 0;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ .checkmark {        
        &::after {
          display: block;
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 5px;
      right: 12px;
      height: 20px;
      width: 20px;
      box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.11);
      border: 1px solid #cccccc;
      background-color: #ffffff;
      border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        display: none;

        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #7d8287;
      }
    }
    &:hover input ~ .checkmark {
      background-color: #f3f3f3;
    }
  }

  .outside {
    margin-right: -10px;
  }
  .hidden {
    visibility: hidden;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.11);
    border-radius: 14px;
    border: 1px solid #e1e1e1;
    background-color: #f7f8fa;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {        
        &::before {
          transform: translateX(26px);
          background: #a4ca05;
        }
        .symbol-yes {
          transition: 1s;
          opacity: 1;
        } 
      }
      &:focus + .slider{
        box-shadow: 0 0 1px #2196F3;
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;        
      transition: .4s;

      border-radius: 34px;
      &::before {
        content: "";
        position: absolute;
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 2px;
        background-color: #ed1c24;        
        transition: .4s;

        border-radius: 50%;
      }
      .symbol-no {
        transition: 1s;
        opacity: 1;
      }  
    }
    .symbol {
      position: absolute;          
      color: #fff;
      opacity: 0;      
    }
    .symbol-yes {
      right: 4px;
      top: 2px;
    }
    .symbol-no {
      left: 8px;
      top: 2px;
    }
  }

  .checkbox-container {
    font-size: 19px;
    font-weight: 400;
    .plain_text {
      margin: 0 7px;
    }
  }

  .js-remove-text {
    background: url(../img/clear.png) no-repeat;
    width: 12px;
    height: 11px;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: 7px;
  }

  .error {
    background-color: #fef2f2;
    &::placeholder {
      color: #ed1c24 !important;
    }
    &.calendar {
      background: #fef2f2 url(../img/calendar_icon.png) 10px center no-repeat;
      
    }
    &.select-container .select-placeholder {
       
        color: #ed1c24;
      
    }
  }

.inline-radio-chekcboxes {
    display: flex;
    justify-content: space-between;
    margin: 25px auto 0;
    max-width: 62%;
    input {
      width: 31px;
      height: 31px;
      box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.11);
      border-radius: 3px;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      -ms-appearance: checkbox;   
      appearance: checkbox;
    }
    .item {
      margin: 0 2%
    }
}

.checkbox-wrapper {
  & + span {
    margin-right: 35px;
  }
  position: relative;  
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .border-arrow {
      visibility: visible;
    }
    &:checked ~ .checkmark {
      background-color: #fff;
      &:hover {
        background: transparent;
      }
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 4px;
    right: 0;
    height: 25px;
    width: 25px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    &:after {
      content: "";
      position: absolute;
      display: none;    
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);      
    }
  }
  &:hover input ~ .checkmark {
    background-color: #e0e0e0;
  }
  .border-arrow {
    position: relative;
    visibility: hidden;
    &:before {
      content: '';
      position: absolute;
      border: solid transparent;
      border-bottom-color: #ccc;
      border-width: 0 13px 15px 13px;
      top: 53px;
      left: -28px;
      z-index: 100;
      
    }
    &:after {
      content: '';
      position: absolute;
      border: solid transparent;
      border-bottom-color: #fff;
      border-width: 0 12px 14px 12px;      
      top: 56px;
      left: -27px;
      z-index: 100;
    }
  }
  
}