.loader {
    display: flex;
    display: none;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: .9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
}
.h1 {
    font-size: 34px;
    margin: 20px 0;
}

.header {
    background-color: #0a171f;
    width: 100%;
    padding: 30px 0;
    border-bottom: 4px solid #a4ca05;
    &-container {
        direction: ltr;
        display: flex !important;  
    }
    .menu {
        margin-left: auto;
        ul {
            display: flex;
            flex-direction: row-reverse;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0 8px;
            }
        }
    }
}

.container {
    max-width: 1170px;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.flex-start {
    justify-content: flex-start !important;
}
.flex-right {
    margin-left: auto !important;
}
.items {
    display: flex;
    &.center {
        align-items:center; 
        justify-content: center
    }
    .item {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin: 0 20px;
    }
}

.content {
    background-color: #fff;
    padding: 60px;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.button_submit {
    border: none;
    border-radius: 30px;
    background: #92b523;
    font-family: 'Assistant';
    color: #fff;
    box-shadow: 6px 6px 20px #bfbfbf;
    transition: .4s;
    font-size: 28px;
    padding: 3px 50px 8px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus {
        background: #7c9b19;
    }
    &:active {
        transform: translateY(4px);
        box-shadow: 2px 1px 10px #bfbfbf;
    }
}

.button_cancel {
    border: none;
    border-radius: 20px;
    background: #c5c5c5;
    font-family: 'Assistant';
    color: #707070;
    transition: .4s;
    font-size: 30px;
    padding: 3px 50px 8px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus, &:active {
        background: #b9b8b8;
    }     
}

.text {    
    color: #131c25;    
    font-size: 19px;
    font-weight: 700;
    position: relative;
    span:first-child {
        padding-top:2px;vertical-align: middle;display: inline-block;
    }
    span:last-child {
        display: inline-block;
        /* width: 80%; */
        vertical-align: middle;
    }
    .question {
        cursor: pointer;
        &:hover + .popup-title {
            transform: translateX(250px);
            opacity: 1;
        }
    }
    .popup-title {
        transform: translateX(400px);
        opacity: 0;
        top: -12px;
        right: 0;
        position: absolute;            
        transition: .7s;            
        max-width: 210px;            
    }
    .popup-block-text {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.23);
        border: 1px solid #d7d7d7;
        background-color: #f4f4f4;
        padding: 10px;
        &::after {
            content: '';
            border: 10px solid transparent;
            border-right-color: #f4f4f4;   
            /* border-right-color: blue; */                    
            position: absolute;
            left: -20px;
            top: 15px;
        }
        &::before {
            content: '';
            border: 13px solid transparent;
            border-right-color: #d7d7d7;
            /* border-right-color: red;    */
            position: absolute;
            left: -26px;
            top: 12px;
        }
    }
}
.text-center {
    text-align: center;
}
.block {
    display: block !important;
}
.info_text {
    padding-right: 8px;
    padding-top: 20px;
    display: none;
    a {        
        color: #598527;    
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: -0.25px;
        display: inline-block;
        vertical-align: top;
        &:hover {
            text-decoration: none;
        }
    }
    &.gray {
        a {
            color: #959595;
        }
    }
    &.orange {
        a {
            color: #f26522;
        }
    }
    
    span:first-child {
        padding-top:3px;
        vertical-align: middle;
        display: inline-block;
    }
}

.desktop {
    display: block;
}
.mobile {
    display: none !important;
}

.plus {
    color: #598527;
    font-size: 18px;
    text-decoration: underline;
    &-icon {
        background: url(../img/plus.png) center/cover no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    &:hover {
        text-decoration: none;
    }
}

.painting {
    position: relative;
    margin-bottom: 20px;
    img {
        display: block;
        margin: auto;
    }
    &:after {
        content: '';
        height: 20px;
        width: 100%;
        border: solid #ccc;
        border-width: 0 1px 1px 1px;
        position: absolute;
        bottom: -20px;
    }
}

.text-container {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 40px;
    color: #131c25;
    text-align: justify;
    p {
        font-family: 'Assistant';
        font-size: 18px;
    }
}