@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .form {
        .group {
            max-width: 80%;
            &.group-textarea {
                max-width: 78%;
            }
        }
    }
    .logo {
        margin-left: 20px;
    }

    .inline-radio-chekcboxes {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .form9 {
        .group {
            max-width: 80%;
            .input_block {
                margin: 2% 0;
                width: 100%;
            }
        }
    }
    .inline-group-td {
        display: inline-block;
        vertical-align: middle;
        .checkmark {
            right: 7px;
        }
        &:last-child {
            margin-right: 32px;
        }
        p {
            margin: 7px 0;
        }
    }
    hr {
        margin: 20px auto;
        width: 85%;
    }
    .content {
        background: transparent;
    }
    .h1 {
        display: none;
    }
    .form {
        margin-top: 20px;
        input[type="text"], 
        .select-container {
            width: 100%;
            margin: 2% 0;
        }
    }
    .button_submit, .button_cancel {
        width: 77%;
    }
    a.button_submit {
        width: 59%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block !important;
    }
    .arrowNav {
        &.prevArrow {
            right: -50px;
        }
        &.nextArrow {
            left: -50px;
        }
        top: 23px;
        span {
            display: none;
        }
        svg {
            stroke: #92b523;
            height: 30px;
            stroke-width: 3px;
        }
    }
    .capture {
        background: url(../img/bg_camera_mob.png) center/cover no-repeat;
        img {
            width: 200px;
        }
    }
    .capture__activate {
        font-size: 30px;
        width: 100%;
        margin-top: 40px;
    }
    .info_text{
        a {
            font-size: 20px;
            padding-top: 3px;
            text-underline-position: under;
        }
    }
    .inline-radio-chekcboxes {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
        .item {
            margin: 2%;
            width: 45%;
        }
        .border-arrow {
            display: none;
        }
    }
    .item img {
        max-width: 130px;
    }
    .items {
        flex-wrap: wrap;
        .item {
            margin: 10px 15px;
            flex-basis: 40%;
            p {
                font-weight: 400;
                margin: 0;
            }
        }
    }
    .outside {
        margin-right: 0;
    }
    .slider.slider-horizontal {
        margin-right: 0 !important;
    }

    .table {
        thead {
            display: none;
        }
        tr {
            box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
            max-width: 100%;
            position: relative;
            display: block;
            margin-bottom: 1rem;
        }
        td {
            display: flex;
            width: auto;
            justify-content: space-between;
            text-align: right;
            height: 40px;
            position: relative;
            &:after {
                content: attr(data-label);                            
                text-align: left;
            }
        }
    }
}

@media (max-width: 600px) {
    .text-container {
        max-width: 90%
    }
}

@media (max-width: 568px) {
    .m-r-30 {
        margin-right: 0;
    }
    .content {
        padding: 30px 10px
    }
    .logo {
        margin-left: 10px;
    }
    .form {        
        .group {
            max-width: 90%;
            &.group-textarea {
                max-width: 88%;
            }
            &.group-range-slider {
                max-width: 80%;
            }
        }
    }
    .button_submit, .button_cancel {
        width: 87%;
    }
    .header .menu {
        ul {
            margin-right: 6px;
            li {
                margin: 0 3px;
            }

        }
    }
    .inline-group {
        flex-wrap: wrap;
        .inline-group-block {
            margin: 10px 0;
        }
    }
    .m-r-30 {
        .inline-group-block:last-child {
            margin-right: 20px;
            width: 80%;
        }
    }
    .overlay {
        .modal {
            max-width: 92%;
            padding: 60px 20px 30px;
            box-sizing: border-box;
        }
    }
    .inline-radio-chekcboxes {     
        max-width: 90%;
        .item {
            margin: 2% 0;
            width: 50%;
        }
    }
    .slider .tooltip-inner {
        font-size: 24px;
    }
    .slider .tooltip.top {
        top: 49px;
    }
    .text {
        line-height: 1;
    }
}

@media(max-width: 450px) {
    .navigation {
        max-width: 280px;
        .step {
            height: 54px;
            font-size: 38px;
        }
    }
    .arrowNav {
        top: 16px;
    }
}

@media(max-width: 390px) {
    .navigation {
        max-width: 250px;
        .step {            
            margin: 0 13px;
            &:after {
                width: 15px;
                left: -15px;
            }
            &::before {
                width: 15px;
                right: -15px;
            }
        }
    }
    .arrowNav {
        top: 16px;
    }
    .item img {
        max-width: 110px;
    }
}

@media(max-width: 350px) {
    .navigation {
        max-width: 210px;
        .step {          
            height: 46px;
            font-size: 32px;  
            margin: 0 10px;
            &:after {
                width: 12px;
                left: -12px;
            }
            &::before {
                width: 12px;
                right: -12px;
            }
        }
    }
    .arrowNav {
        top: 12px;
        &.prevArrow {
            right: -40px;
        }
        &.nextArrow {
            left: -40px;
        }
    }
    .capture_wrapper {
        width: 284px;
        .capture {
            height: 268px;
        }
    }
}