@font-face {
	font-family: 'Assistant';
	src: url('../fonts/Assistant-Regular.eot');
	src: local('☺'), url('../fonts/Assistant-Regular.woff') format('woff'), url('../fonts/Assistant-Regular.ttf') format('truetype'), url('../fonts/Assistant-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {    
    height: 100vh;
    background-color: #f2f4f7;
    direction: rtl;
    font-family: 'Assistant';    
    position: relative;
}
@import 'loader';
@import './slick/slick';
@import './slick/slick-theme';

@import 'main';

@import 'form-control';

.m-b {
    margin-top: 40px !important;
}
.m-b25 {
    margin-top: 25px !important;
}

@import 'navigation';

@import 'camera';

.calendar {
    background: #fff url(../img/calendar_icon.png) 10px center no-repeat;
}

@import 'modal_window';

#additional_fields {
    display: none;
}

/* @import 'range_slider'; */

@import 'step8';

@import 'step9';

.circle {
    width: 120px;
    height: 120px;
    margin: 30px auto;
    border-radius: 50%;
    &.success {
        background-color: #92b523;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            height: 40px;
            width: 20px;
            border: solid #fff;
            border-width: 0 5px 5px 0;
            top: calc(50% - 30px);
            left: calc(50% - 10px);
            transform: rotate(45deg)
        }
    }
    &.failed {
        background: #f26522 url(../img/stop.png) 57% center no-repeat;
    }
}

*::-webkit-input-placeholder { color: #999; }


@import 'media';